h1 {
    text-align: center;
    padding: 5px;
    font-family: "Tauri", sans-serif;
    font-weight: 30px;
    font-style: normal;
}

body {
    background: url('fundo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-video {
    text-align: center;
}

.main-text {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 100px;
}

.text {
    text-align: justify;
    padding: 30px;
    width: 45%;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    background: transparent;
}


/*
.main-end {
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    text-align:end;
    color: white;
}

a {
    color: white;
}*/

  